@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    @apply h-full w-full p-0 m-0 overflow-hidden bg-[#0f0f0f];
    min-height: 100vh;
    min-height: 100dvh;
    overscroll-behavior-y: none;
  }

  #root {
    @apply h-full w-full;
    isolation: isolate;
  }

  body {
    @apply text-gray-100 antialiased;
  }
}

@layer utilities {
  .pt-safe {
    padding-top: env(safe-area-inset-top, 20px);
  }
}
